<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <script src="https://unpkg.com/vue@3"></script>
        <link rel="stylesheet" href="https://unpkg.com/element-plus/dist/index.css">
        <link rel="stylesheet" href="https://unpkg.com/element-plus/theme-chalk/dark/css-vars.css">
        <script src="https://unpkg.com/element-plus"></script>
        <title>弥生古墳時代の日本史</title>
    </head>
    <body>
        <div id="app">
            <el-container>
                <el-header class="layout-header">
                    <h1>{{title}}</h1>
                </el-header>
                <el-container>
                    <el-aside width="400px">
                        <el-scrollbar>
                            <el-timeline>
                                <el-timeline-item
                                    v-for="(timeline, index) in timelines"
                                    :key="index"
                                    :type="timeline.type"
                                    :timestamp="timeline.timestamp"
                                    :placement="timeline.placement"
                                >
                                <el-card shadow="hover">
                                    <h2>{{timeline.title}}</h2>
                                    <p>{{timeline.content}}</p>
                                </el-card>
                            </el-timeline-item>
                            </el-timeline>
                        </el-scrollbar>
                    </el-aside>
                    <el-main>
                        <el-scrollbar>
                            <el-affix :offset="60">
                                <el-anchor :offset="70" direction="horizontal">
                                    <el-anchor-link
                                        v-for="(timeslot, index) in timeslots"
                                        :key="index"
                                        :href="timeslot.href">
                                        <h2>{{timeslot.content}}</h2>
                                    </el-anchor-link>
                                </el-anchor>
                            </el-affix>
                        </el-scrollbar>
                    </el-main>
                </el-container>
            </el-container>
        </div>
        <style type="text/css">
            #app {
                overflow: hidden;
            }
            .layout-header {
                height: "150px";
                flex-shrink: 0;
            }
        </style>
        <script>
            const app = Vue.createApp({
                data() {
                    return {
                        title: "弥生古墳時代の日本史Loading中",
                        timelines: [
                            {
                                title: '弥生时代早期',
                                content:'前750~前500年',
                                timestamp: 'BC750~BC500',
                                type: 'primary',
                                placement:'top',
                            },
                            {
                                title:'弥生时代前期',
                                content: '前500~前250年',
                                timestamp: 'BC500~BC250',
                                type: 'info',
                                placement:'top',
                            },
                            {
                                title:'弥生时代中期',
                                content: '前250~1年',
                                timestamp: 'BC250~AD1',
                                type: 'info',
                                placement:'top',
                            },
                            {
                                title:'弥生时代后期',
                                content: '1~200年',
                                timestamp: 'AD1~AD200',
                                type: 'info',
                                placement:'top',
                            },
                            {
                                title:'古坟时代早期',
                                content: '200~250年',
                                timestamp: 'AD200~AD250',
                                type: 'info',
                                placement:'top',
                            },
                            {
                                title:'古坟时代前期',
                                content: '250~400年',
                                timestamp: 'AD250~AD400',
                                type: 'info',
                                placement:'top',
                            },
                            {
                                title:'古坟时代中期',
                                content: '400~500年',
                                timestamp: 'AD400~AD500',
                                type: 'info',
                                placement:'top',
                            },
                            {
                                title:'古坟时代后期',
                                content: '500~600年',
                                timestamp: 'AD500~AD600',
                                type: 'info',
                                placement:'top',
                            }
                        ],
                        timeslots:[
                            {
                                href: '#yayoiinitial',
                                content: '弥生时代早期'
                            },
                            {
                                href: '#yayoiearly',
                                content: '弥生时代前期',
                            },
                            {
                                href: '#yayoimiddle',
                                content: '弥生时代中期',
                            },
                            {
                                href: '#yayoilate',
                                content: '弥生时代后期',
                            },
                        ],
                    };
                }
            });
            app.use(ElementPlus);
            app.mount("#app");
        </script>
    </body>
</html>
